<!DOCTYPE html>
<html>
    <head>
        <title>{{ titulo }} - {{ site_name }}</title>
        <style type="text/css">
            body { margin: 0; background: pink; }
            body h1 { background: #333; color: #fff; margin-top: 10px; }
            .texto { font-size: 19px; }
            .container { width: 1000px; margin: 0 auto; }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>{{ titulo }}</h1>
            <div class="texto">
                {{ texto }}
            </div>
        </div>
    </body>
</html>